@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
*{
    font-family:  -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1126px;
}
.container::after{
    display: block;
    content: "";
    clear: both;
}
.container .top-left{
    width: 40%;
    float: left;
}
.container .top-right{
    width: 60%;
    float: right;
}
.container .top-right ul{
    margin: 0;
}
.container .top-right ul li{
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
}
.container .top-right ul li:nth-child(5){
    border-left: 1px solid rgb(0 0 0 /60%) ;
}
.container .top-right ul li:nth-child(5), .container .top-right ul li:nth-child(6){
    transform: translateY(-10px);
} 
.container .top-right ul li:nth-child(5) a{
    color: rgb(0 0 0 / 75%);
    
    font-size: 18px;
    font-weight: 510;
    padding: 15px 20px;
}
.container .top-right ul li:nth-child(5) a:hover{
    background-color: #F5F5F5;
    line-height: 20px;
    border-radius: 30px;
}
.container .top-right ul li:nth-child(6){
    border: 1px solid #32679C;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 30px;
}
.container .top-right ul li:nth-child(6) a{
    color: #0A66C2;
    font-weight: 600;
}
.container .top-right ul li:nth-child(6) a:hover{
    color: #0A66C2;
}
.container .top-right ul li:nth-child(6):hover{
    background-color:#CEDEED;
}
.container .top-right ul li a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(0 0 0 / 60%);
}
.container .top-right ul li a:hover{
    color: #191919;
}
.header-area .top-left, .header-area .top-right{
    width: 50%;
}
.header-area{
    padding: 50px o;
}
.header-area h1{
    font-size: 56px;
    font-weight: 200;
    color: #8f8549;
}
.header-area input[type=text], .header-area input[type=password], .header-area input[type=submit]{
    display: block;
    width: 100%;
    max-width: 400px;
    border: 1px solid #000000;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;

}
.header-area input[type=submit]{
    background-color: #2977c9;
    color: #ffffff;
    border-radius: 40px;
    border: none;
    transition: .5s;
    padding: 20px;
    cursor: pointer;
}
.header-area input[type=submit]:hover{
    background-color: #006097;
}
.header-area small{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 400px;
}
.header-area small::before, .header-area small::after{
    display: inline-block;
    content: "";
    height: 1px;
    width: 40%;
    background-color: rgba(0,0,0,0.35);
}
.header-area small::before{
    margin-right: 15px;
}
.header-area small::after{
    margin-left: 15px;
}
.header-area a.g-btn, .header-area a.ntlink{
    display: block;
    width: 100%;
    max-width: 400px;
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    color: #000000;
    transition: .5s;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    text-decoration: none;

}
.header-area a.g-btn span{
    display: inline-block;
    margin-right: 20px;
}
.header-area a span.g-lg{
    transform: translateY(-6px);
}
.header-area .top-right img{
    width: 120%;
}



.explore{
    background-color: #F3F2F0;
    padding: 60px 0;
}
.explore .exp-left{
    width: 50%;
    float: left;
}
.explore .exp-left h2{
    font-weight: 200;
    font-size: 48px;
}
.explore .exp-right{
    width: 50%;
    float: right;
}
.explore .exp-right h4{
    font-weight: 400;
    font-size: 24px;
}
.explore .exp-right .content-list a{
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    border: 1px solid #222;
    line-height: 24px;
    border-radius: 30px;
    color: #000000;
    margin: 5px;
}
.explore .exp-right .content-list a:hover{
    background-color: #EAE9E7;
}
.explore .exp-right a:first-child{
    color: #0a66c2;
    border: 1px solid #0a66c2;
}
.explore .exp-right a:first-child:hover{
    background-color: #b4cbe2;
    
}



.findjob{
    background-color: #ffffff;
}
.findjob .exp-right a.smore{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 10px 15px;
    margin-top: 10px;
    height: 30px;
    border-radius: 4px;
}
.findjob .exp-right a.smore:hover{
    background-color: #F5F5F5;
}



.postjob{
    width: 100%;
    padding: 70px 0;
    background-color:#F1ECE5;
}
.postjob .post-left{
    width: 50%;
    float: left;
}
.postjob .post-left h2{
    font-size: 40px;
    font-weight: 400;
    color: #b24020;
}
.postjob .post-right {
    width: 50%;
    float: left;
    transform: translateY(70px);
}
.postjob .post-right a{
    color: #0a66c2;
    border: 1px solid #0a66c2;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 24px;
    text-decoration: none;
    line-height: 24px;
    border-radius: 30px;
}
.postjob .post-right a:hover{
    background-color:#E4E7E8 ;
}



.peopleknow{
    padding: 60px 0;
    background-color: #F3F2F0;

    position: relative;
    display: flex;
    width: 100%;
    align-items: center;    

}
.peopleknow .pknow-left{
    width: 50%;
    float: left;
}
.peopleknow .pknow-right{
    width: 50%;
    float: right;
}
.peopleknow .pknow-left h2{
    color: #8F5849;
    font-weight: 400;
    font-size: 40px;
}
.peopleknow .pknow-left h3{
    font-weight: 200;
    font-size: 30px;
}
.peopleknow .pknow-right img{
    max-width: 90%;
    padding-left: 50px;
}


.connet-learn{
    width: 100%;
    padding: 60px 0;
}
.connet-learn img{
    max-width: 60%;
}
.connet-learn .connet{
    width: 50%;
    float: left;
}
.connet-learn .connet img{
    align-items: center;
}
.connet-learn .connet h2{
    font-weight: 300;
    font-size: 48px;
}
.connet-learn .connet a{
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #222;
    line-height: 24px;
    border-radius: 30px;
    color: #000000;
    margin: 5px;
}
.connet-learn .connet a:hover{
    background-color: #F5F5F5;
}
.connet-learn .learn{
    width: 50%;
    float: right;
}
.connet-learn .learn img{
    align-items: right;
}
.connet-learn .learn h2{
    font-weight: 300;
    font-size: 48px;
}
.connet-learn .learn a{
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}
.connet-learn .learn a:hover{
    background-color: #f3f2f0;
}


.jion-clg{
    padding: 100px 0;
    background: url('images/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 850px;
}
.jion-clg h2{
    font-weight: 300;
    font-size: 48px;
}
.jion-clg a{
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 20px;background-color: #0a66c2;
    line-height: 24px;
    border-radius: 30px;
    color: #ffffff;
    margin-top: 30px;
}



.footer-top{
    background-color: #F1ECE5;
    padding: 20px 0;
}
.footer-top .fcolam{
    width: 18%;
    float: left;
    padding: 10px;
}
.footer-top .fcolam h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-top .fcolam .frow a{
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(34, 35, 35);
}
.footer-top .fcolam .frow a:hover{
    text-decoration: underline;
    color: blue;
}


.footer-botoom{
    padding: 10px 0;
}
.footer-botoom .flinks svg{
    width: 60px;
}

.footer-botoom .flinks a, .footer-botoom .flinks p{
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
}
.footer-botoom .flinks a:hover{
    text-decoration: underline;
    color: #0a66c2;
}
.footer-botoom .fbtmphnview{
    display: none;
}



/* media query */
@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }
    .container .top-right ul li{
        display: none;
        text-align: right;
        padding: 0;
    }
    .container .top-right ul li:nth-child(5){
        border-left: none;
        
    }
    .container .top-right ul li:nth-child(5), .container .top-right ul li:nth-child(6){
        display: inline-block;
        margin-top: 10px;
    }
    .header-area .top-right img {
        width: 90%;
    }
    .explore .exp-left, .explore .exp-right{
        width: 100%;
        float: none;
    }

    .peopleknow .pknow-right img{
        max-width: 80%;
    }

    .postjob .post-right {
        width: 40%;
        float: left;
        transform: translateY(90px);
        margin-left: 40px;
    }
    .connet-learn .connet {
        width: 100%;
        float: left;
        text-align: center;
    }
    .connet-learn .learn {
        width: 100%;
        transform: translateY(50px);
        text-align: center;
    }

    .footer-top .fcolam {
        width: 16%;
        float: left;
        padding: 5px;
    }
    
    .footer-botoom .fbtmdeskview{
        display: none;
    }
    .footer-botoom .fbtmphnview{
        display: block;
    }
    
    .fbtmphnview .left-colum, .fbtmphnview .right-colum{
        width: 50%;
        float: left;
    }
    .fbtmphnview .left-colum a, .fbtmphnview .right-colum a{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 400px){
    .container{
        width: 90%;
    }
    .container .top-left{
        width: 30%;
    }
    .container .top-left img{
        max-width: 100%;
        transform: translatey(10px);
    }
    .container .top-right{
        width: 70%;
    }
    .container .top-right ul li:nth-child(5) a, .container .top-right ul li:nth-child(6) a{
        font-size: 14px;
        font-weight: 600;
    }
    .header-area .top-left, .header-area .top-right{
        width: 100%;
    }
    .header-area h1{
        font-size: 24px;
    }
    .header-area .top-right img {
        width: 90%;
    }
    .header-area input[type="text"], .header-area input[type="password"]{
        max-width: 320px;
    }
      
    .explore .exp-left h2 {
        font-size: 36px;
        
        
    }

    .postjob .post-left, .postjob .post-right{
        width: 100;
        transform: translateY(0px);
    }
    .postjob .post-left h2 {
        font-size: 28px;
    }
    .postjob .post-right a {
        font-size: 18px;
    }
    .peopleknow .pknow-left, .peopleknow .pknow-right{
        width: 100%;
    }
    .peopleknow .pknow-left h2 {
        font-size: 28px;
    }
    .peopleknow .pknow-left h3 {
        font-size: 18px;
    }
    .connet-learn .connet h2, .connet-learn .learn h2 {
        font-size: 34px;
    }

    .jion-clg h2 {
        font-size: 36px;
    }

    .footer-top .fcolam{
        width: 100%;
        text-align: center;
    }

    
}





